<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D Candidate in Electrical Engineering</h1>
            <span>Shanghai Jiaotong University</span>
            <span><address>Shanghai, China</address><time>2016 to 2021</time></span>
        </header>
        <p>
            <em>Research Interest: Smart Grid; Power Distribution Network; Power Equipment Status Montoring; etc.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Eng in Electrical Engineering</h1>
            <span>Shanghai Jiaotong University</span>
            <span><address>Shanghai, China</address><time>2012 to 2016</time></span>
        </header>
        <p>
            <em>Dissertation: Research and application of time synchronization technology in ultra high frequency wireless sensors</em>
        </p>
    </article>
</section>
