<section class="thirteen columns">
    <h1>Honors and Awards</h1>
    <article>
        <header>
            <h1>National Scholarship</h1>
            <span>Ministry of Education of the People's Republic of China
            <time>-Dec. 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>China National Post-Graduate Mathematical Contest in Modeling - Second Prize</h1>
            <span>China Academic Degrees and Graduate Education Development Center
            <time>-Dec. 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>YITU Technology Scholarship</h1>
            <span>YITU Technology
            <time>-Dec. 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Tang Lixin Scholarship</h1>
            <span>Tang Lixin Educational Foundation
            <time>-Nov. 2017</time></span>
        </header>
    </article>
</section>