<section class="thirteen columns">
    <h1>China Patents</h1>
    <article>
        <header>
            <h1> Partial discharge positioning error compensation method based on multi-radial basis function neural network [P]</h1>
            <span>Zhou Nan, Luo Lingen, Sheng Gehao, Chen Jingde, Qian Yong, Liu Yadong, Song Hui, Jiang Xiuchen.
            <time>Shanghai: CN107703418B, 2019-10 -18.</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1> A method to accurately obtain the time difference of partial discharge UHF signals [P]</h1>
            <span>Zhou Nan, Luo Lingen, Sheng Gehao, Li Zhen, Qian Yong, Liu Yadong, Song Hui, Jiang Xiuchen.
            <time>Shanghai: CN108169634B, 2020-05 -05.</time></span>
        </header>
    </article>
    
</section>