<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <img src="{{ site.baseurl }}static/img/project1.png" width="250px"  align="left">
            <h1>Research on Key Technologies of Substation PD On-line Monitoring and Location Based on UHF Wireless Sensor Technology</h1>
            <span><address>State Grid Science and Technology Program of China</address><time>2017-present</time></span>
        </header>

    </article>
    <article>
        <header>
            <img src="{{ site.baseurl }}static/img/MCM.png" width="250px"  align="left">
            <h1>Prospective target extraction based on surveillance video</h1>
            <span><address>China post-graduate mathematical contest in modeling</address><time>2017</time></span>
        </header>

    </article>
</section>