<section class="thirteen columns">
    <h1>Selected Publication</h1>
    <article>
        <header>
            <h1>Power Distribution Network Dynamic Topology Awareness and Localization Based on Subspace Perturbation Model</h1>
            <p>N. Zhou, L. Luo*, G. Sheng and X. Jiang</p>
            <span><address>IEEE Transactions on Power Systems</address><time>To be Published</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>High Accuracy Insulation Fault Diagnosis of Power Equipment Based on A Novel Power Maximum Likelihood Estimation Method</h1>
            <p>N. Zhou, L. Luo*, G. Sheng and X. Jiang</p>
            <span><address>IEEE Transactions on Power Delivery</address><time>vol. 34, no. 4, pp. 1291-1299, August 2019.</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Direction of arrival estimation method for multiple UHF partial discharge sources based on virtual array extension</h1>
            <p>N. Zhou, L. Luo*, G. Sheng and X. Jiang</p>
            <span><address>IEEE Transactions on Dielectrics and Electrical Insulation</address><time>vol. 25, no. 4, pp. 1526-1534, August 2018.</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Error correction method based on multiple neural networks for UHF partial discharge localization</h1>
            <p>N. Zhou, L. Luo*, J. Chen, G. Sheng and X. Jiang</p>
            <span><address>IEEE Transactions on Dielectrics and Electrical Insulation</address><time>vol. 24, no. 6, pp. 3730-3738, Dec. 2017.</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>A Novel Partial Discharge Localization Method in Substation Based on Wireless UHF Sensor Array</h1> 
            <a href="{{ site.baseurl }}pub1.pdf" download="{{ site.baseurl }}pub1.pdf"><p>[PDF]</p></a>
               
            <p>Zhen, L., Lingen, L., <b>Nan, Z.</b>, Gehao, S. and Xiuchen, J. </p>
            <span><address>Sensors</address><time>vol. 17, no. 8, pp. 1909, 2017.</time></span>
        </header>
    </article>
</section>
